* {
  font-family: "Pixelify Sans", cursive;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  padding: 160px;
  background-color: antiquewhite;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.output {
  margin-bottom: 20px;
}

#countdown {
  font-size: 40px;
  font-weight: bold;
  color: brown;
}

button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 10px;
  transition: padding 0.5s;
  background-color: crimson;
  color: blanchedalmond;
  cursor: pointer;
}

button:hover {
  background-color: rgb(166, 16, 46);
  padding: 18px;
}

button:active {
  box-shadow: rgba(166, 16, 46);
}

h1 {
  font-size: 48px;
}
