body,
html {
  width: 100vw;
  height: 100vh;
}

/* 
.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

header {
  display: flex;
  justify-content: center;
  width: 98%;
  height: 5%;
}

h1 {
  letter-spacing: 10px;
  color: blueviolet;
  text-shadow: 10px 10px;
} */

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  max-width: 80%;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image-wrapper {
  margin: 20px 20px;
}

button {
  background-color: blueviolet;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
}

button:hover {
  transition: 1s;
  background-color: rgb(108, 39, 172);
}

video {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}
