*,
*:before,
*:after {
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 160px;
  background-color: blueviolet;
}

.container {
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: antiquewhite;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#newTask {
  position: relative;
  padding: 30px;
}

#newTask input {
  width: 75%;
  height: 45px;
  border: 2px solid #d1d3d4;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

#newTask input:focus {
  outline: none;
  border-color: purple;
}

#newTask button {
  position: relative;
  float: right;
  font-size: 16px;
  background-color: purple;
  color: azure;
  border: none;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  transition: width 0.5s;
}

#newTask button:hover {
  width: 22%;
  background-color: rgb(106, 1, 106);
}

#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffffc0;
  padding: 30px 20px;
  margin-top: 10px;
}
.task {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}

.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
  background-color: #6583e5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}
